using UnityEngine;

namespace com.rpdev.foundation.module.editor.templates {
    
    public class InitialModuleViewData {
        public Transform  parent_container;
        public Vector3    position;
        public Quaternion rotation;
    }
}