
namespace com.rpdev.foundation.module.#module_namespace#.controller {
	
	public interface I#ModuleName#Facade : I#DerivedModule#Facade {
		
	}

	public interface I#ModuleName#Controller : I#DerivedModule#Controller {
		
	}
	
	public class #ModuleName#Controller : #DerivedModule#Controller, I#ModuleName#Controller , I#ModuleName#Facade {        
		protected I#ModuleName#View  View  => View<I#ModuleName#View>();
	}
}