
namespace com.rpdev.foundation.module.#module_namespace#.controller {
	
    #Interfaces#
	
	public class #ModuleName#Controller : #DerivedModule#Controller, #InterfacesImpl# {

        #Properties#        
	}
}