namespace com.rpdev.foundation.module.#module_namespace# {

	public class #ModuleName#ModuleInstaller : ModuleInstaller<#ModuleName#Controller, #ModuleName#Model, #ModuleName#View> {

		public #ModuleName#ModuleInstaller(#ModuleName#View view, InitialModuleViewData view_initial_module_view_data) : base(view, view_initial_module_view_data) { }

		protected override void InstallSignals() {
			base.InstallSignals();
		}
	}
}