namespace com.rpdev.foundation.module.#module_namespace#.model {

	public interface I#ModuleName#Model : I#DerivedModule#Model {
		
	}
	
	public class #ModuleName#Model : #DerivedModule#Model, I#ModuleName#Model {
		
	}
}